.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  max-width: 200ch;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 60px; /* to avoid being hidden under navbar */
}

button.btn {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin: auto;
  cursor: pointer; /* shows the pointer cursor */
}

button.btn:hover {
  transform: scale(1.05);
}

button.btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.descriptionList {
  max-width: 24ch;
  margin: 0 auto;
  padding-left: 1.5em;
  text-align: left;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
  list-style-type: disc; /* bullet points */
  list-style-position: outside;
}
.descriptionList li {
  margin-bottom: 0.5rem;
}

@media (min-width: 800px) {
  .descriptionList {
    font-size: 20px;
    max-width: 40ch;
  }
}

@media (min-width: 1200px) {
  .descriptionList {
    font-size: 20px;
    max-width: 40ch;
  }
}
