.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 500px;
  gap: 20px;
}

.nameHighlight {
  font-weight: bold;
}

.thankYou {
  font-size: 24px;
  margin-top: 10px;
}

.description {
  max-width: 34ch;
  align-self: center;
  color: var(--text-color); /* change color based on dark/light mode */
}

@media (min-width: 800px) {
  .description {
    max-width: 68ch;
    align-self: center;
  }
}
