.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 500px;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

  /* Heights with different units for mobile and desktop */
  height: 100vh; /* fallback for older devices */
  height: 100dvh; /* dynamic viewport height */
  height: 100svh; /* small viewport height (turvallisin mobiilissa) */
  .hero {
    max-width: 200px;
  }

  /* Span is for our social media links */
  span {
    display: flex;
    justify-content: center;
    gap: 25px;

    a {
      margin: 0;

      img {
        width: 30px;
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* shadow. 0.25 is for the transparency*/
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}
.navbar {
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: var(--bg-color);
  position: fixed;
  background-color: rgba(128, 128, 128, 0.5); /* semi-transparent background */
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  text-justify: center;
  justify-content: center;
  backdrop-filter: blur(5px); /* blur effect for background behind navbar */
}
.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.2s;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.navbar a:hover {
  color: var(--btn-color);
}
.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: 10; /*this affects the moon/sun icon location*/
  width: 25px;
}

.colorMode:hover {
  cursor: pointer;
}

.description {
  max-width: 28ch;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
    }

    .navbar {
      gap: 90px;
      padding: 15px;
    }

    .navbar a {
      font-family: "Rubik", sans-serif;
      font-size: 22px;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
    }
    .navbar {
      gap: 60px;
      padding: 20px;
    }

    .navbar a {
      font-family: "Rubik", sans-serif;
      font-size: 30px;
    }
  }
}
